body {
	background-color: black;
}

#main {
	width: 1000px;
	background-color: #151515;
	font-family: 'Roasario', sans-serif;
	position: relative;
	left: 50%;
	margin-left: -500px;
}

#menu {
	width: 250px;
	height: 100%;
	padding
}

#header {
	height: 600px;
	width: 100%;
	background-image: url('../images/T_1weiss.jpg');
}

#menu ul li {
	list-style-type: none;
	background-color: rgba(220,200,200,0.7);
	width: 200px;
	height: 40px;
	margin: 25px 0px 0px 0px;
	font-size: 25px;


}

#menu ul li a{
	text-decoration:none;
	color: black;
	margin: 0px 0px 0px 10px;



}

#menu ul {
	margin:0px;
	padding: 120px 0px 0px 0px;
	list-style-type: none;

}

#content h2 {
	color: white;
	text-align: center;
}

#content p {
	text-align: center;
	color: white;
}

#content {
	height: 550px;
	background-color: #1C1C1C;
}

#impressum {
	height: 30px;
	background-color: #D8D8D8;
}

#impressum ul li {
	float: left;
	list-style-type: none;
	margin: 0px 15px;
}

#impressum ul li a {
	text-decoration: none;
	color: black;
}

#direct-logo{
  margin: auto;
  display: block;
}